div {
    margin-top:0;
    padding-bottom: 0%;
    padding-top:0%; 
}

element.style {
    padding-left: 27rem;
    background: #82babd;
    background-color: #c8c8c8;
}

html{
    background-color: #c8c8c8;
}

element.style {
    padding-left: 27rem;
    padding-right: 27rem;
    margin-top: 120px;
    background: rgb(130, 186, 189);
    margin-left: 30%;
    margin-right: 30%;
} 

 .content-container{
    background-color: #C8C8C8;
}

.PrivateTabIndicator-colorSecondary-27 {
    background-color: #3274c5 !important;
    width:100%;
}
