h1{
    font-size: 30px;;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    background-color: white;
}

form{
    text-align: center;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    margin-left: 30%;
    margin-right: 30%;
}

button{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #82babd;
    border: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
}

div{
    padding-bottom: 2%;
    padding-top: 2%;   
}

body {
    background-color: #C8C8C8;
  }

input{
    width: 80%;
    border: 2px solid #C8C8C8;
    background-color: #C8C8C8;
    border-radius: 2px;
    height: 22px;
    text-decoration: #C8C8C8;
    margin-top: 2%;
}

element.style{
    background-color: rgba(0, 0, 0, 0);;

}

.corfundo{
    background-color: #c8c8c8;
}
